<section class="heading">
  <div class="eggshell-shape">
    <img class="eggshell-shape-image img-fluid" src="images/eggshell-shape.png" alt="">

    <nav class="navbar navbar-expand-lg justify-content-between header">
      <a href="#" class="nav-brand brand">
        <div class="header-name">
          <div class="name-cn">蛋壳计划</div>
          <div class="name-en">THE EGGSHELL PROJECT</div>
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleContent" aria-controls="navbarToggleContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon menu-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarToggleContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link subpage-name apply" href="#">申请报名</a>
          </li>
          <li class="nav-item">
            <a class="nav-link subpage-name showcase" href="#">成果展示</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  

</section>