.heading {
    width: 100%;
    background-image: url("../images/heading-image-1.jpg");
    background-position: 50% 50%;
    background-size:cover;
    background-attachment: fixed;
}

@media (max-width: 991px) {
    .heading {
        background-position: 50% 0%;
        background-size:contain;
    }
}


.eggshell-shape {
    position: relative;
}

.eggshell-shape-image {
    width: 100%;
}